<% if object.errors.any? %>
  <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 my-4 rounded-lg">
    <p class="font-bold">エラーが発生しました！</p>
    <ul class="list-disc list-inside">
      <% object.errors.full_messages.each do |msg| %>
        <li class="mt-1"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
