<!-- _form.html.erb -->
<div>
  <%= f.label :body, "本文", class: "block text-gray-700 font-semibold" %>
  <%= f.text_area :body, rows: 6, class: "mt-1 block w-full p-2 border border-gray-300 rounded-md focus:ring focus:ring-yellow-500" %>
</div>
