<div class="container mx-auto pt-3">
  <div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="col-span-10 col-start-2">
      <!-- 検索フォーム -->
      <form>
        <div class="flex mb-3">
          <input class="form-input flex-grow border border-gray-300 rounded-l px-4 py-2 focus:ring focus:ring-blue-300" placeholder="検索ワード" type="search"/>
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-r hover:bg-blue-600">検索</button>
        </div>
      </form>
    </div>
  </div>
  <!-- 掲示板一覧 -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-5xl mx-auto">
    <div class="col-span-12">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
          <div class="mb-3 text-gray-500">掲示板がありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
